site_name: Finetuning Suite Docs
site_url: https://ft.apac.ai
site_author: APAC AI
site_description: Finetune any model with unparalled performance, speed, and reliability using Qlora, BNB, Lora, Peft in less than 30 seconds, just press GO.
repo_name: kyegomez/finetuning-suite
repo_url: https://github.com/kyegomez/finetuning-suite
edit_uri: https://github.com/kyegomez/finetuning-suite/tree/main/docs
copyright: APAC Corp 2023. All rights reserved.

plugins:
  - glightbox
  - search
copyright: "&copy; APAC Corp, Inc."
extra_css:
  - docs/assets/css/extra.css
extra:
  # analytics:
  #   provider: google
  #   property: G-QM8EDPSCB6
  social:
    - icon: fontawesome/solid/house
      link: assets/img/ft-logo.png
    - icon: fontawesome/brands/discord
      link: https://discord.gg/qUtxnK2NMf
    - icon: fontawesome/brands/github
      link: https://github.com/kyegomez/finetuning-suite/
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/finetuning-suite
theme:
    name: material
    custom_dir: docs/overrides
    logo: assets/img/ft-logo.png
    palette:
      # Palette toggle for light mode
    - scheme: default
      primary: 'custom'
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode
    # Palette toggle for dark mode
    - scheme: slate
      primary: 'custom'
      accent: light blue
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    features:
        - content.code.copy
        - content.code.annotate
        - navigation.tabs
        - navigation.sections
        - navigation.expand
        - navigation.top
        - announce.dismiss
    font:
      text: Roboto
      code: Roboto Mono

extra_css:
  - stylesheets/extra.css

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - admonition
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.tabbed
  - tables
  - def_list
  - footnotes


nav:
- Home:
    - Overview: "index.md"
- ft:
    - Overview: "ft/index.md"
    - ft:
      - ft.FineTuner: 
        - Overview: "ft/finetuner.md"
      - ft.Inference:
        - Overview: "ft/inference.md"
- Examples:
    - Overview: "examples/index.md"
    - FlashAttention: "examples/nn/attentions/flash.md"
    